exclude: ^(docs|cpp)/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
    -   id: check-merge-conflict
    -   id: check-yaml
- repo: https://github.com/asottile/pyupgrade
  rev: v3.2.2
  hooks:
    - id: pyupgrade
      args: [--py37-plus]
- repo: https://github.com/hhatto/autopep8
  rev: v2.3.2
  hooks:
  -   id: autopep8
