h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 14pt;
    color: #111111;
    font-weight: bold;
    font-style: normal;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 13pt;
    color: #111111;
    font-weight: bold;
    font-style: normal;
}

h3 {
    font-family: 'Exo 2', sans-serif;
    font-size: 12pt;
    color: #111111;
    font-weight: bold;
    font-style: normal;
}

a:link {
    font-family: 'Exo 2', sans-serif;
    color: #111111;
    text-decoration: none;
    font-style: italic;
    font-size: 12pt;
}

a:visited {
    font-family: 'Exo 2', sans-serif;
    color: #111111;
    text-decoration: none;
    font-style: italic;
    font-size: 12pt;
}

a:active {
    font-family: 'Exo 2', sans-serif;
    color: #111111;
    text-decoration: none;
    font-style: bold;
    font-size: 12pt;
}

a:hover {
    font-family: 'Exo 2', sans-serif;
    color: #00BEE0;
    text-decoration: none;
    font-size: 12pt;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 12pt;
    color: #111111;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.bar_cat {
    fill: #cdcdcd;
}

.highlight {
    fill: #ffd900;
}

div.tooltip {
    position: absolute;
    text-align: left;
    opacity: 1;
    padding: 5px;
    width: 100px;
    height: 50px;
    font: 10px;
    background: rgb(200, 224, 255);
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}

button {
    display: inline-block;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin: 0 0 0 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 12pt;
    text-decoration: none;
    font-weight: 400;
    color: black;
    background-color: #73B0FF;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    color: #000000;
    background-color: rgb(0, 131, 219);
}

button:active {
    color: #000000;
    background-color: rgb(0, 131, 219);
}

svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text::selection {
    background: none;
}