@import '~bootstrap/scss/bootstrap.scss';
@import '../../dlr-ci.scss';

.main {
  width: 100%;
  overflow: auto;

  .mobile-alert {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 1000;
  }

  .left {
    width: 38.2%;
    min-width: 38.2%;
    max-width: 38.2%;
    border-right: 2px solid #e2e4e6;

    .timeline {
      padding: 0.5rem 0;
      text-align: center;
      font-size: 1.25rem;
    }

    .options {
      .btn-group {
        button.active {
          background-color: lighten(black, 20%);
        }
      }
    }

    .map-wrapper {
      width: 90%;
      margin: auto;
      padding-bottom: 1rem;

      .map {
        width: 100%;
        height: 100%;
      }
    }
  }

  .right {
    background-color: white;
    overflow: auto;

    padding-bottom: 1rem;

    .info-text {
      padding-top: 1rem;
      width: 90%;
      text-align: justify;
      margin: 0 auto;

      p {
        font-size: 11pt;
      }
    }

    .show-germany {
      text-align: center;
    }

    .graph {
      height: 60%;
      min-height: 300px;
      width: 100%;
    }

    .district {
      font-size: 2em;
      text-align: center;
    }
  }

  @media (max-width: 1300px) {
    .left {
      width: 50% !important;
      min-width: 50% !important;
      max-width: 50% !important;
    }

    .right .graph {
      height: 50%;
    }
  }
}

@media (min-width: 900px) {
  .main {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    flex-grow: 1;

    .right {
      height: 100%;
    }

    .left {
      display: flex;
      flex-direction: column;

      .map-wrapper {
        display: flex;
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: 900px) {
  .main {
    overflow: auto;

    .left {
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;

      .map-wrapper {
        height: 500px;
      }
    }

    .right {
      .graph {
        order: 1;
        height: 300px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
