@import '~bootstrap/scss/bootstrap.scss';
@import '../dlr-ci.scss';
//@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

body {
  @extend .bg-gray-light;
}

header {
  padding: 10px 20px 20px 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);

  .logo {
    position: relative;
    margin: 0;
  }

  .logo > img {
    width: 62px;
    float: left;
    margin: 0 10px 10px 0;
  }

  .logo .logo-text {
    line-height: 17px;
    font-size: 0.875rem;
    font-family: FrutigerLTW02-65Bold, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    display: block;
    padding-top: 19px;
    font-weight: 400;
  }
}

.earth {
  width: 520px;
  height: 400px;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
}
.earth img {
  top: -400px;
}

.grid-box {
  @extend .bg-white;
  position: relative;
  overflow: hidden;
  height: 100%;

  .header {
    @extend .h2;
    @extend .p-2;
    @extend .border-bottom;
    @extend .border-primary;
  }

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    margin-top: 2.6em;
    margin-bottom: 10px;
    @extend .border-bottom;
    @extend .border-gray-light;
  }

  .grid-draggable-handle {
    position: absolute;
    top: 0em;
    right: 0em;
    padding: 0.5em;
  }
}

@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';
