@import '~bootstrap/scss/bootstrap.scss';
@import '../../dlr-ci.scss';

.modal-dialog.date-range {
  max-width: 700px !important;

  .DateRangePicker {
    text-align: center !important;
  }
}

.measures {
  .content {
    padding: 0 1em;
  }

  .measure {
  }
}
