# dev dependencies
# first support of python 3.11 is 4.6
# 5.3.4 has conflicts with openpyxl
# 5.3.3 broken
pyfakefs>=4.6,<5.3.3
coverage>=7.0.1
# pylint 2.16 creates problem with wrapt package version
pylint>=2.13.0,<2.16
pylint_json2html==0.4.0
