@import './dlr-ci.scss';

.wrapper {
  padding: 0;
  height: 100vh;
  overflow: auto;
  background-color: #dedede;

  header {
    padding: 10px 20px 20px 20px;
    border-bottom: 1px solid #aaa;

    .logo {
      position: relative;
      margin: 0;
    }

    .logo > img {
      width: 62px;
      float: left;
      margin: 0 10px 10px 0;
    }

    .logo .logo-text {
      line-height: 17px;
      font-size: 0.875rem;
      font-family: FrutigerLTW02-65Bold, 'Helvetica Neue', Helvetica, Roboto,
        Arial, sans-serif;
      display: block;
      padding-top: 19px;
      font-weight: 400;
    }
  }

  .main-panel {
    height: calc(100vh - 6.5em);
    margin: 0.5em;
  }

  .map-container,
  .settings-container {
    height: 50%;
    border: 1px solid #aaa;
    background-color: white;
  }

  .graphs-container {
    height: 100%;
    border: 1px solid #aaa;
    background-color: white;
  }
}
