@import './dlr-ci.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 200;

  .loading-progress {
    width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -15%;
    margin-top: -7rem;
    text-align: center;

    .label {
      font-size: 2rem;
    }
    .progress {
      border: 1px solid $dlr-gray;
      background-color: $dlr-gray-light;
    }

    .spinner-border {
      width: 5rem !important;
      height: 5rem !important;
      border-width: 0.5rem !important;
    }
  }
}

body,
#root {
  height: 100%;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app {
  header {
    background-color: #f0f0f0; // $dlr-gray-medium;
    height: 89px;
    max-height: 89px;
    min-height: 89px;
    width: 100%;
    position: relative;

    .title {
      font-size: 37px;
      white-space: normal;
      margin: 0 250px 0 1rem;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
    }

    @media (max-width: 1200px) {
      .title {
        font-size: 25px !important;
      }
    }

    @media (max-width: 650px) {
      .title {
        font-size: 20px !important;
      }
    }

    @media (max-width: 500px) {
      .title {
        font-size: 15px !important;
      }
    }

    .logos {
      height: 50.84px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1em;

      img {
        height: 50.84px;
      }

      .hzi-logo,
      .dlr-signet {
        display: inline-block;
        margin-left: 1rem;
      }

      .hzi-logo {
        width: 95px;
        overflow: hidden;
      }

      .dlr-signet {
        float: right;
      }
    }
  }

  .body {
    background-color: #f8f8f9; //$dlr-gray-light;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .about,
    .impressum,
    .dsgvo,
    .accessibility,
    .attribution {
      width: 68.2%;
      margin: 1rem auto 3rem;
      padding-bottom: 0.25rem;
    }
  }

  > .links {
    font-size: 16px;
    justify-content: space-around;
    background: white;
    padding: 0.25rem;
    a:not(:first-child) {
      margin-left: 0.75rem;
    }
  }
}
@media (max-width: 900px) {
  .app {
    header {
      position: fixed;
      z-index: 2;
    }

    .body {
      padding-top: 89px;
    }

    .links {
      white-space: pre-wrap;
      word-wrap: break-word;
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .app {
    header {
      width: 100%;

      .title {
        margin-right: 130px;
      }

      .logos {
        height: 30px;
        display: inline-block;

        div,
        img {
          height: 100%;
        }

        .hzi-logo {
          width: 60px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .app {
    height: 100%;
    display: flex;
    flex-direction: column;

    .body {
      display: flex;
      flex-grow: 1;
      overflow: auto;
    }

    > .links {
      display: flex;
      flex-wrap: wrap;

      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
