@import './dlr-ci.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 200;

  .loading-progress {
    width: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -15%;
    margin-top: -7rem;
    text-align: center;

    .label {
      font-size: 2rem;
    }
    .progress {
      border: 1px solid $dlr-gray;
      background-color: $dlr-gray-light;
    }

    .spinner-border {
      width: 5rem !important;
      height: 5rem !important;
      border-width: 0.5rem !important;
    }
  }
}

body,
#root {
  height: 100%;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    background-color: #f0f0f0; // $dlr-gray-medium;
    height: 89px;
    max-height: 89px;
    min-height: 89px;
    position: relative;

    .title {
      font-size: 37px;
      transform: translateY(50%) translateX(1rem);
    }

    .logos {
      height: 50.84px;
      position: absolute;
      top: 50%;
      margin-top: -25.42px;
      right: 1em;

      img {
        height: 50.84px;
      }

      .hzi-logo,
      .dlr-signet {
        display: inline-block;
        margin-left: 1rem;
      }

      .hzi-logo {
        width: 95px;
        overflow: hidden;
      }

      .dlr-signet {
        float: right;
      }
    }
  }

  .body {
    background-color: #f8f8f9; //$dlr-gray-light;

    flex-grow: 1;
    overflow: auto;

    .about,
    .impressum,
    .dsgvo {
      width: 68.2%;
      margin: 1rem auto 3rem;
    }
  }

  .links {
    display: inline-block;
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;

    a:not(:first-child) {
      margin-left: 0.75rem;
    }
  }
}
