@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/mixins.scss';
@import '~bootstrap/scss/variables.scss';

$dlr-black: #000000;
$dlr-gray: #666666;
$dlr-gray-medium: rgb(123, 123, 123);
$dlr-gray-light: rgb(177, 177, 176);
$dlr-white: #ffffff;

$dlr-blue: #43c4ef;
$dlr-blue-medium: #8edcf5;
$dlr-blue-light: #c6edfa;

$dlr-green: #badf47;
$dlr-green-medium: #d6ec91;
$dlr-green-light: #eaf5c7;

$dlr-yellow: #ffed00;
$dlr-yellow-medium: #fff466;
$dlr-yellow-light: #fffab2;

$dlr-red: rgb(179, 63, 61);
$dlr-red-medium: rgb(199, 122, 109);
$dlr-red-light: rgb(223, 180, 168);

$theme-colors: (
  'primary': $dlr-gray,
  'danger': $dlr-red,
  'success': $dlr-green,
  'blue': $dlr-blue,
  'blue-medium': $dlr-blue-medium,
  'blue-light': $dlr-blue-light,
  'green': $dlr-green,
  'green-medium': $dlr-green-medium,
  'green-light': $dlr-green-light,
  'yellow': $dlr-yellow,
  'yellow-medium': $dlr-yellow-medium,
  'yellow-light': $dlr-yellow-light,
  'red': $dlr-red,
  'red-medium': $dlr-red-medium,
  'red-light': $dlr-red-light,
  'black': $dlr-black,
  'gray': $dlr-gray,
  'gray-medium': $dlr-gray-medium,
  'gray-light': $dlr-gray-light,
  'white': $dlr-white,
);

@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

h1,
.h1 {
  font-size: 1.5rem;
}

h2,
.h2 {
  font-size: 1.25rem;
}

h3,
.h3 {
  font-size: 1rem;
}

h4,
.h4 {
  font-size: 0.75rem;
}

h5,
.h5 {
  font-size: 0.5rem;
}

h6,
.h6 {
  font-size: 0.25rem;
}
