body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loading-spinner {
  font-size: 5rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin: -2.5rem 0 0 -2.5rem;
}
