sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1
sphinx-copybutton
sphinx_design
breathe
sphinx-hoverxref
pycode/memilio-epidata
pycode/memilio-plot
pycode/memilio-surrogatemodel
exhale
sphinx_toolbox
# Dependencies for memilio.generation (added via sys.path, not pip-installed)
libclang==18.1.1
dataclasses_json
graphviz
