h1 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.8em;
    font-size: 20pt;
    font-weight: normal;
    font-style: normal;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

h2 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.6em;
    font-size: 14pt;
    font-weight: bold;
    font-style: normal;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

h3 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.6em;
    font-size: 12pt;
    font-weight: bold;
    font-style: normal;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

a:link {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    font-size: 11pt;
    font-weight: normal;
    text-decoration: underline;
}

a:visited {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    font-size: 11pt;
    font-weight: normal;
    text-decoration: underline;
}

a:active {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    font-size: 11pt;
    font-weight: normal;
    text-decoration: underline;
}

a:hover {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    font-size: 11pt;
    font-weight: normal;
    text-decoration: underline;
}

.menu {
    min-width: 150px;
    text-align: center;
    float:left;
    position:relative;
    border-radius: 25px;
}

.menu:hover{
    background-color:#52B1E8;
}

.content{
    background-color:#ECF8FF;
    margin:0px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-clip: padding-box;
}

a.menu:link {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

a.menu:visited {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

a.menu:active {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

a.menu:hover {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 11pt;
    line-height: 1.6em;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
