/*
.tooltip-content {
  background: white;
  position: relative;
  border: 1px solid #ddd;
  color: black;
  padding: 10px;
  z-index: 100;
  transform: translateX(-50%) translateY(5px);
  min-width: 120px;
}

circle.frame-hover {
  stroke: #aaa;
  r: 4;
}

.plot,
.brush {
  position: relative;
}

.measure {
  .annotation-subject path {
    fill-opacity: 0.3;
    stroke: none;
  }

  .annotation-note-label {
    font-size: 14px;
  }

  &.measure-0 {
    .annotation-note path,
    .annotation-note text,
    .annotation-connector path {
      stroke: black;
    }
    .annotation-subject path,
    .annotation-connector .connector-arrow {
      fill: black;
    }
  }

  &.measure-1 {
    .annotation-note path,
    .annotation-note text,
    .annotation-connector path {
      stroke: red;
    }
    .annotation-subject path,
    .annotation-connector .connector-arrow {
      fill: red;
    }
  }

  &.measure-2 {
    .annotation-note path,
    .annotation-note text,
    .annotation-connector path {
      stroke: blue;
    }
    .annotation-subject path,
    .annotation-connector .connector-arrow {
      fill: blue;
    }
  }
}

.charts {
  height: calc(100% - 3em);
}

.recharts-legend-item {
  cursor: pointer;

  &.inactive {
    opacity: 0.4;
  }
}
*/
