name: Build wheels 

on: [pull_request, release]

jobs:

  build_sdist: 
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - run: pipx run build --sdist

    - uses: actions/upload-artifact@v4
      with:
        name: sdist
        path: dist/*.tar.gz


  build_wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows_latest]

    steps:
      - uses: actions/checkout@v4

      - uses: pypa/cibuildwheel@v2.16

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl