name: Build wheels 

on: [pull_request, release]

jobs:
  build_wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: pypa/cibuildwheel@v2.16

      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl