name: CI

on: 
  schedule:
    - cron: "40 2 * * *"
  push:
    branches:
      - 'main'
    tags:
      - version-*
  pull_request:
  workflow_dispatch:

jobs:
  build-cpp-gcc:
    strategy:
      matrix:
        config: ["Debug", "Release"]
        version: ["latest", "min"]
        include:
          - version: "latest"
            os: "ubuntu-latest"
          - version: "min"
            os: "ubuntu-18.04"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/gcc-build
        with: 
          config: ${{ matrix.config }}
          version: ${{ matrix.version }}
          coverage: ${{ (matrix.config == 'Debug' && matrix.version == 'latest') && 'ON' || 'OFF' }}
          sanitize-addr: ${{ (matrix.config == 'Debug' && matrix.version == 'latest') && 'ON' || 'OFF' }}
          sanitize-ub: ${{ (matrix.config == 'Debug' && matrix.version == 'latest') && 'ON' || 'OFF' }}

  build-cpp-clang:
    strategy:
      matrix:
        config: ["Debug", "Release"]
        version: ["latest", "min"]
        include:
          - version: "latest"
            os: "ubuntu-latest"
          - version: "min"
            os: "ubuntu-18.04"
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.version == 'latest' }} # our jsoncpp version does not build on clang above version 9
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/clang-build
        with: 
          config: ${{ matrix.config }}
          version: ${{ matrix.version }}

  build-cpp-msvc:
    strategy:
      matrix:
        config: ["Debug", "Release"]
        version: ["latest", "min"]
        include:
          - version: "latest"
            os: "windows-latest"
          - version: "min"
            os: "windows-2016"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/msvc-build
        with: 
          config: ${{ matrix.config }}
          version: ${{ matrix.version }}

  test-cpp-gcc_clang:
    needs: [build-cpp-gcc, build-cpp-clang]
    strategy:
      matrix:
        compiler: ["gcc", "clang"]
        config: ["Debug", "Release"]
        version: ["latest", "min"]
        include:
          - version: "latest"
            os: "ubuntu-latest"
          - version: "min"
            os: "ubuntu-18.04"
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.compiler == 'clang' && matrix.version == 'latest' }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/linux-test
        with: 
          build-artifact: build-cpp-linux-${{ matrix.compiler }}-${{ matrix.version }}-${{ matrix.config }}
          coverage: ${{ (matrix.compiler == 'gcc' && matrix.version == 'latest' && matrix.config == 'Debug') && 'ON' || 'OFF' }}

  test-cpp-msvc:
    needs: build-cpp-msvc
    strategy:
      matrix:
        config: ["Debug", "Release"]
        version: ["latest", "min"]
        include:
          - version: "latest"
            os: "windows-latest"
          - version: "min"
            os: "windows-2016"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/windows-test
        with: 
          build-artifact: build-cpp-windows-msvc-${{ matrix.version }}-${{ matrix.config }}

  build-py:
    runs-on: ubuntu-latest
    container:
      image: quay.io/pypa/manylinux2014_x86_64
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/build-py
          
  test-docs:
    needs: build-py
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/test-docs

  test-py:
    needs: build-py
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/test-py

  test-pylint:
    needs: build-py
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/test-pylint

  dowload-data:
    needs: build-py
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq -y install python3-pip gnupg
          python -m pip install --upgrade pip
      - name: Download Python Wheels
        uses: actions/download-artifact@v2
        with:
          name: python-wheels
          path: pycode/wheelhouse
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install Python Wheels
        run: |
          for pkg in `ls pycode/wheelhouse/*36*.whl`; do python -m pip install $pkg; done
      - name: Dowload Data
        run: |
          mkdir -p data_dl
          getrkidata -o data_dl
          getpopuldata -o data_dl
          getjhdata -o data_dl
          getdividata -o data_dl
      - name: Upload Data
        uses: actions/upload-artifact@v2
        with:
          name: data
          path: |
            data_dl/*.json
            data_dl/Germany/*.json
            data_dl/Spain/*.json
            data_dl/France/*.json
            data_dl/Italy*.json
            data_dl/SouthKorea/*.json
            data_dl/US/*.json
            data_dl/China/*.json
          retention-days: 1
          
  codecov:
    needs: [test-py, test-cpp-gcc_clang]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq -y install git curl
      - name: Download python coverage report
        uses: actions/download-artifact@v2
        with:
          name: test-py-coverage-reports
      - name: Download cpp coverage report
        uses: actions/download-artifact@v2
        with:
          name: test-cpp-coverage-reports
      - name: Deploy to codecov.io
        uses: codecov/codecov-action@v2
        with:
          files: ./pycode/test/coverage_python.xml,./coverage.xml
          verbose: true

  pages:
    needs: [test-py, test-cpp-gcc_clang, test-docs, test-pylint]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq -y install git
      - name: Download python coverage report
        uses: actions/download-artifact@v2
        with:
          name: test-py-coverage-reports
      - name: Download cpp coverage report
        uses: actions/download-artifact@v2
        with:
          name: test-cpp-coverage-reports
      - name: Download documentation
        uses: actions/download-artifact@v2
        with:
          name: documentation
          path: docs/html
      - name: Download pylint report
        uses: actions/download-artifact@v2
        with:
          name: pylint-report
          path: pycode/build_pylint
      - name: Prepare basic Pages sites
        run: |
          mkdir -p public
          cp ci_index/main_index.html public/index.html
          cp ci_index/branch_index.html public/index.html
      - name: Prepare documentation
        run: |
          mkdir -p public/documentation
          cp -r docs/html/* public/documentation
      - name: Prepare pylint reports
        run: |
          mkdir -p public/pylint
          cp pycode/build_pylint/pylint.html public/pylint/
      - name: Prepare coverage reports
        run: |
          mkdir -p public/coverage
          mkdir -p public/coverage/cpp
          mkdir -p public/coverage/python
          cp -r coverage_python/* public/coverage/python/
          cp -r coverage_report/* public/coverage/cpp/
      - name: Deploy to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

